@keyframes scroll-text-left {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
